<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="metadata=res://*/Models.millerdcjrModel.csdl|res://*/Models.millerdcjrModel.ssdl|res://*/Models.millerdcjrModel.msl;provider=System.Data.SqlClient;          provider connection string='Server=2c0b4f1e-919f-4f7b-bbfa-a45101409910.sqlserver.sequelizer.com;Database=db2c0b4f1e919f4f7bbbfaa45101409910;User ID=nmvkuppoqzbtotrh;Password=4AFKdwbzJYGJwneEzsCcUHtETQ33SNF7AaZf6BtjCxW7cakAYEupsPEuhaZuCgQ5;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
         <!--connectionString="data source=f9e46035-63a8-4d6c-ba5a-a452010cd2e9.sqlserver.sequelizer.com;
         Database=dbf9e4603563a84d6cba5aa452010cd2e9;
         User ID=bycicdggbikygiae;
         Password=K5cXVPuWQuxEYTHa7qkCfnmQzbforCkyHhFzQVJwKqMRSRzsUy87iEexSuxUJfDm;
         pooling=False;
         multipleactiveresultsets=True;
         App=EntityFramework" 
         providerName="System.Data.SqlClient"/>-->
    <add name="millerwebEntities" connectionString="metadata=res://*/Models.millerdcjrModel.csdl|res://*/Models.millerdcjrModel.ssdl|res://*/Models.millerdcjrModel.msl;provider=System.Data.SqlClient;          provider connection string='Server=2c0b4f1e-919f-4f7b-bbfa-a45101409910.sqlserver.sequelizer.com;database=db2c0b4f1e919f4f7bbbfaa45101409910;User ID=nmvkuppoqzbtotrh;Password=4AFKdwbzJYGJwneEzsCcUHtETQ33SNF7AaZf6BtjCxW7cakAYEupsPEuhaZuCgQ5;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
    
    <!--connectionString="data source=localhost;
    initial catalog=PasDB;
    integrated security=True;
    pooling=False;
    multipleactiveresultsets=True;
    App=EntityFramework"-->
    <!--<add name="DefaultConnection" connectionString="Data Source=2c0b4f1e-919f-4f7b-bbfa-a45101409910.sqlserver.sequelizer.com;AttachDbFilename=|DataDirectory|\aspnet-MVCAngularJsWebApplication-20150112021705.mdf;Initial Catalog=aspnet-MVCAngularJsWebApplication-20150112021705;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-MVCAngularJsWebApplication-20150112021705.mdf;Initial Catalog=aspnet-MVCAngularJsWebApplication-20150112021705;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="millerwebEntities" connectionString="metadata=res://*/Models.millerdcjrModel.csdl|res://*/Models.millerdcjrModel.ssdl|res://*/Models.millerdcjrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DAN-PC\SQLEXPRESS;initial catalog=millerweb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="millerwebEntities" connectionString="metadata=res://*/Models.millerdcjrModel.csdl|res://*/Models.millerdcjrModel.ssdl|res://*/Models.millerdcjrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-MVCAngularJsWebApplication-20150112021705.mdf;Initial Catalog=aspnet-MVCAngularJsWebApplication-20150112021705;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="millerwebEntities1" connectionString="metadata=res://*/Models.millerdcjrModel.csdl|res://*/Models.millerdcjrModel.ssdl|res://*/Models.millerdcjrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-MVCAngularJsWebApplication-20150112021705.mdf;Initial Catalog=aspnet-MVCAngularJsWebApplication-20150112021705;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="20" />
    </authentication>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultConnection" applicationName="MVCAngularJsWebApplication" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>