@{
    ViewBag.Title = "Favorite Places";
}
<div ng-init="load()">
    <h2>Favorite Places</h2>
    <div ng-repeat="link in links">
        <div>
            <a target="_blank" href="{{link.Href}}">{{link.DisplayName}}</a>
        </div>
    </div>
</div>
<pre> {{links}} </pre>
