@{
    ViewBag.Title = "Favorite Places";
}
<div class="jumbotron text-center">

    <div ng-init="load()">
        <h1>Favorite Places</h1>
        <p>{{ message }}</p>
        <div ui-grid="gridOptions" class="gridStyle"></div>
    </div>
</div>
